{% extends 'base.html' %}
{% block content  %}

<h1>{{ problem.nameofproblem }}</h1>
<p>{{ problem.descriptionofproblem }}</p>
<p>category: {{problem.categoryofroblem}} </p>
<h3>add meeting with support</h3>
<form method = 'POST' action = '{% url "bm" %}'>
    {% csrf_token %}
    <input type = 'hidden' name = 'problem_id' value = '{{problem.id}}'>
    <input type = 'datetime-local' name = 'datetime' required max="3000-12-31T23:59">
    <button type = 'submit'>post</button>




</form>


{% endblock %}